1 VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Google"
            VALUE "FileDescription", "3D modeling application in the web browser"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "ginsu"
            VALUE "LegalCopyright", "Copyright (C) 2010"
            VALUE "OriginalFilename", "ginsu.dll"
            VALUE "ProductName", "Ginsu"
            VALUE "ProductVersion", "1, 0, 0, 1"
            VALUE "MIMEType", "pepper-application/x-ginsu"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
